body
{
    background-color: #b3b3b3;
}
h1
{
    border: 3px black solid;
    margin: auto;
    padding: auto;
}
h1
{
    text-align: center;
}
.class
{
    border: black solid 3px;   
    margin: auto;
    padding: auto;   
}
